<p id="notice"><%= notice %></p>

<h1>PedsQL Document Management</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="small-col">File Type</th>
      <th>Last Updated</th>
      <th class="action"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td class="small-col"><%= image_tag document.file_icon, size: '48x48' %></td>
        <td><%= document.updated_at.strftime("%m/%d/%Y %I:%M %P") %></td>
        <td class="action"><%= link_to 'Show', document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

