<p id="notice"><%= notice %></p>

<h1><%= @document.name %></h1>

<div class="modal">
<%= image_tag @document.file_icon, size: '48x48' %>
  <p>
    <strong>Web file name:</strong>
    <%= @document.web_file_name %>
  </p>

  <p>
    <strong>Uploaded file name:</strong>
    <%= @document.uploaded_file_name %>
  </p>

  <p>
    <strong>Last Uploaded:</strong>
    <%= @document.updated_at.strftime("%m/%d/%Y %I:%M %P") %>
  </p>

  <%= link_to 'Close', documents_path %>
</div>

